<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071673681070-s3mogvn1uu69gk7igjdeafg4os5dji37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071673681070-s3mogvn1uu69gk7igjdeafg4os5dji37</string>
	<key>API_KEY</key>
	<string>AIzaSyCSEeb5MfOqVEePXj7PjC5qE5eY5d0--Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>1071673681070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikeparkes.wombleit</string>
	<key>PROJECT_ID</key>
	<string>wombleit-20323</string>
	<key>STORAGE_BUCKET</key>
	<string>wombleit-20323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071673681070:ios:dd032c8ee326c36fc8393f</string>
</dict>
</plist>